%html
  %body
    %div.database
      %h1 Database
      %table
        %tr
          %th Name
          %td= name
        %tr
          %th Connection Limit
          %td= connection_limit
        %tr
          %th Encoding
          %td= encoding
        %tr
          %th Is a template
          %td= is_template
